.custom-submit-button{
    border: 1px var(--lighterColor) solid;
    border-radius: 50px;
    padding: 10px;
    width: 30%;
    align-self: center;
    color: var(--lighterColor);
    background-color: transparent;
    transition: 0.5s all;
}

.custom-submit-button:hover{
    background-color: var(--lighterColor);
    color:white;
}

@media (width<=992px) and (width>=768px ){
    .custom-submit-button{
        width: 40%;
    }
}

@media (width<=768px){
    .custom-submit-button{
        width: 70%;
    }
}